<p id="notice"><%= notice %></p>

<h1>New Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @new_surveys.each do |new_survey| %>
      <tr>
        <td><%= new_survey.card %></td>
        <td><%= new_survey.question_id %></td>
        <td><%= new_survey.answer %></td>
        <td><%= link_to 'Show', new_survey_path %></td>
        <td><%= link_to 'Edit', edit_new_survey_path(new_survey) %></td>
        <td><%= link_to 'Destroy', new_survey_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New New Survey', new_new_survey_path %>
