<div class="card-header <%= @card.tag %>">
	<h3><%= @card.title %></h3>
	<p><%= @card.sub_title %></p>
</div>
<div class="stat">
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li class="checked"></li>
  </ul>
</div>
<div class="content">
  <% if @card.tag == "survey" %>
    <%= simple_form_for @survey do |f| %>
      <%= hidden_field_tag "card_id", @card.id %>
      <p><%=raw @card.parsed_content %></p>
    <% end %>
  <% else %>
    <p><%=raw @card.parsed_content %></p>
  <% end %>
</div>
<%= render @card.tag  if current_user %>