<div class="card-header <%= @card.tag %>">
	<h3><%= @card.title %></h3>
	<p><%= @card.sub_title %></p>
</div>
<div class="content">
  <p><%=raw @card.parsed_content %></p>
</div>
<%= render @card.tag  if current_user %>